* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

$white-color: #fff;
$light-gray-color: #f9f9f9;

@mixin section-style {
  padding: 100px 0;
}
@mixin flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #1e1c1e;
}

.sectionHeading {
  text-align: center;
  margin-bottom: 80px;

  p {
    color: #635e5e;
    font-size: 20px;
  }

  h2 {
    font-size: 55px;
    font-weight: 400;
  }

  span {
    font-weight: bold;
  }
}

.containerr {
  width: 75%;
  margin: 0 auto;
  z-index: 2;
}

nav .containerr {
  @include section-style;
  justify-content: space-between;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 45px;
  list-style: none;
  color: #fff;

  li a {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      height: 3px;
      background: #20c997;
      border-radius: 10px;
      width: 0;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

nav .logo {
  width: 100px;
}

.hero {
  @include section-style;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(49, 49, 49, 0.3)),
      to(rgba(77, 77, 77, 0.3))
    ),
    url("../images/banner.avif");
  background: linear-gradient(rgba(49, 49, 49, 0.3), rgba(77, 77, 77, 0.3)),
    url("../images/banner.avif");
  width: 100%;
  height: 92.5vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.heroContent {
  h4 {
    font-size: 22px;
    color: #dbdbdb;
    font-weight: 400;
  }

  h1 {
    font-size: 4em;
    color: $white-color;
    font-weight: 400;
    margin: 0 0 20px 0;
  }

  button {
    padding: 25px 50px;
    border-radius: 20px;
    font-size: 18px;
    outline: none;
    text-transform: uppercase;
    border: 2px solid #43d881;
    background: #43d881;
    color: $white-color;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      background: none;
    }
  }
}

/* services*/

#services {
  @include section-style;
}

.servicesBox {
  @include section-style;
  gap: 30px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.service {
  max-width: 30%;
  max-height: 277px;
  overflow: hidden;
  border-radius: 30px;
  position: relative;

  .boxContent {
    @include section-style;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: $white-color;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(49, 49, 49, 0.5)),
      to(rgba(77, 77, 77, 0.5))
    );
    background: linear-gradient(rgba(49, 49, 49, 0.5), rgba(77, 77, 77, 0.5));
    width: 100%;
    height: 100%;
    border-radius: 30px;
    scale: 2;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  &:hover .boxContent {
    opacity: 1;
    scale: 1;
  }
}

/*Blogs*/

#blog {
  @include section-style;
  background: $white-color;
}

/*products*/

#products {
  @include section-style;
  background: $light-gray-color;
}

.productBox {
  @include section-style;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;

  .product {
    background: #fff;
    padding: 30px;
    padding: 30px;
    border-radius: 30px;
    text-align: center;

    h3 {
      font-size: 24px;
      margin: 10px 0;
    }

    p {
      color: #8b8686;
    }

    img {
      width: 90px;
      height: 90px;
      padding: 20px;
      background-color: #f3f1f1;
      border-radius: 100%;
    }
  }
}

/* contact section start  */

#contact {
  margin-top: 100px;
  background: $white-color;
  padding: 100px 0;

  .container {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 30px;
  }
}

.left_contact {
  @include section-style;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
  width: 40%;
}

.contact_box {
  padding: 20px 50px;
  background: $white-color;
  border-radius: 10px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: center;
  width: 100%;
  word-wrap: break-word;

  .contact_icon {
    padding: 20px;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    margin: auto;
    margin-bottom: 20px;
    @include section-style;

    &.a {
      background-color: #dff8e9;
    }

    &.b {
      background-color: #e2dcf9;
    }

    &.c {
      background-color: #ffe0e1;
    }
  }
}

.contact_icon img {
  width: 60%;
  height: 60%;
}

.contact_box {
  h2 {
    font-size: 28px;
    margin: 10px 0;
  }

  &.a {
    border-bottom: 10px solid #43d881;
  }

  &.b {
    border-bottom: 10px solid #603ee1;
  }

  &.c {
    border-bottom: 10px solid #fd585c;
  }
}

.right_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px;
  width: 50%;

  input {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 3px;

    /* background: rgb(239, 245, 247); */
    -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}

textarea {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 3px;

  /* background: rgb(239, 245, 247); */
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.right_form button {
  padding: 10px;
  border-radius: 50px;
  border: none;
  outline: none;
  background: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  -webkit-transition: background 3s ease;
  transition: background 3s ease;
  height: 50px;
  cursor: pointer;

  &:hover {
    -webkit-transition: background 3s ease;
    transition: background 3s ease;
    background: linear-gradient(62deg, #e0c3fc 0%, #8ec5fc 100%);
  }
}

/* contact section end  */

footer {
  padding: 40px;
  text-align: center;
  background: hsla(120, 4%, 5%, 0.842);
  color: #fff;
}

@media screen and (max-width: 1120px) {
  .containerr {
    width: 87%;
  }

  .product {
    width: 45%;
  }

  .service {
    max-width: 45%;
  }

  .heroContent h1 {
    font-size: 3em;
  }

  #contact .container {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    .left_contact,
    .right_form {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 80%;
  }

  .service {
    max-width: 45%;
  }
}

@media screen and (max-width: 600px) {
  .containerr {
    width: 95%;
  }

  .service {
    max-width: 100%;
  }

  .product {
    width: 100%;
  }

  .heroContent {
    h4 {
      font-size: 1em;
    }

    h1 {
      font-size: 2.5em;
    }

    button {
      padding: 15px 32px;
    }
  }
}

@media screen and (max-width: 500px) {
  .containerr {
    width: 93%;
  }

  .card {
    width: 100% !important;
  }
}
